<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link href="Temporary.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="website-container">
        <section class="result-container">
            <span class="result-text">
                <button><h2>Back</h2></button>
                <p>Search for:</p>
            </span>
            <span class="result-book">
                <ul>
                    <li class="book-container">
                        <a href="">
                            <img src="https://clipart-library.com/img/1144235.gif">
                            <div class="overlay">
                                <p>Title:</p>
                                <p>Author:</p>
                                <p>Year:</p>
                            </div>
                        </a>
                    </li>
                    <li class="book-container">
                        <a href="">
                            <img src="https://clipart-library.com/img/1144235.gif">
                            <div class="overlay">
                                <p>Title:</p>
                                <p>Author:</p>
                                <p>Year:</p>
                            </div>
                        </a>
                    </li>
                    <li class="book-container">
                        <a href="">
                            <img src="https://clipart-library.com/img/1144235.gif">
                            <div class="overlay">
                                <p>Title:</p>
                                <p>Author:</p>
                                <p>Year:</p>
                            </div>
                        </a>
                    </li>
                    <li class="book-container">
                        <a href="">
                            <img src="https://clipart-library.com/img/1144235.gif">
                            <div class="overlay">
                                <p>Title:</p>
                                <p>Author:</p>
                                <p>Year:</p>
                            </div>
                        </a>
                    </li>
                    <li class="book-container">
                        <a href="">
                            <img src="https://clipart-library.com/img/1144235.gif">
                            <div class="overlay">
                                <p>Title:</p>
                                <p>Author:</p>
                                <p>Year:</p>
                            </div>
                        </a>
                    </li>
                
                    <li class="book-container">
                        <a href="">
                            <img src="https://clipart-library.com/img/1144235.gif">
                            <div class="overlay">
                                <p>Title:</p>
                                <p>Author:</p>
                                <p>Year:</p>
                            </div>
                        </a>
                    </li>
                    <li class="book-container">
                        <a href="">
                            <img src="https://clipart-library.com/img/1144235.gif">
                            <div class="overlay">
                                <p>Title:</p>
                                <p>Author:</p>
                                <p>Year:</p>
                            </div>
                        </a>
                    </li>
                    <li class="book-container">
                        <a href="">
                            <img src="https://clipart-library.com/img/1144235.gif">
                            <div class="overlay">
                                <p>Title:</p>
                                <p>Author:</p>
                                <p>Year:</p>
                            </div>
                        </a>
                    </li>
                    <li class="book-container">
                        <a href="">
                            <img src="https://clipart-library.com/img/1144235.gif">
                            <div class="overlay">
                                <p>Title:</p>
                                <p>Author:</p>
                                <p>Year:</p>
                            </div>
                        </a>
                    </li>
                    <li class="book-container">
                        <a href="">
                            <img src="https://clipart-library.com/img/1144235.gif">
                            <div class="overlay">
                                <p>Title:</p>
                                <p>Author:</p>
                                <p>Year:</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </span>
        </section>
        <footer>
            <ul class="footer-list">
                <li><a href="">Contact</a></li>
                <li><a href="">Copyright Claims</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms of Use</a></li>
            </ul>
        </footer>
    </div>        
</body>
</html>